.navbar {
  background-color: #4c1626;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.navbar a.brand {
  margin-right: auto;
  margin-left: 4rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Kaushan Script", cursive;
}
.navbar a img.food-icon {
  width: 30px;
  height: 30px;
  margin-right: 0px;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background-color: none;
}
.nav-menu {
  background-color: #4c1626;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 999;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 999;
}
.nav-text {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: #75223b;
}
.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: #4c1626;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
span {
  margin-left: 16px;
}
.auth-links {
  display: flex;
  flex-grow: 0.1;
  justify-content: space-around;
  align-items: center;
  margin-right: 5rem;
}
.auth-link {
  text-decoration: none;
  color: white;
}
.auth-link:hover {
  text-decoration: underline;
}
.auth-button {
  padding: 8px 16px;
  color: #4c1626;
  background-color: white;
  border: 2px solid #4c1626;
  border-radius: 6px;
  font-weight: bold;
}
.auth-button:hover {
  background-color: rgb(203, 203, 203);
  cursor: pointer;
}
.auth-button:active {
  background-color: white;
  cursor: pointer;
}
.user {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  margin: 0;
}
.user img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
}
.logout-img {
  width: 10px;
  height: 10px;
}
