.recipes-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 100px;
}
.single-recipe {
  background-color: rgb(255, 255, 255);
  width: 300px;
  padding: 15px 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 20px;
  transition: transform 0.25s ease;
  position: relative;
}
.single-recipe:hover {
  transform: translateY(-5px);
  transition: transform 0.25s ease;
}
.single-recipe h2 {
  color: #555;
  font-size: 30px;
}
.single-recipe em {
  font-size: 10px;
  color: #999;
  display: block;
}
.single-recipe .method {
  margin: 15px auto;
  color: #555;
}
.single-recipe .prep-time {
  color: #999;
  text-align: center;
  font-size: 10px;
}
.header {
  width: 100%;
  text-align: center;
}
.recipe-button {
  margin-top: 25px;
  border: none;
  background-color: #f1f3f5;
  color: black;
  padding: 8px 16px;
  font-size: 15px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  color: #333;
}
.recipe-button:hover {
  cursor: pointer;
  background-color: #cfd2d4;
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  filter: invert(50%);
  display: none;
}
.single-recipe:hover .delete-icon {
  display: block;
}
.delete-icon:hover {
  filter: invert(0%);
  cursor: pointer;
}
.rating {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  bottom: 15px;
  right: 10px;
}
