.searchbar form {
  display: flex;
  align-items: center;
  position: relative;
}
.searchbar input {
  margin-left: 10px;
  height: 35px;
  padding: 5px;
  border-radius: 6px;
}
.searchbar img {
  filter: invert(50%);
  width: 30px;
  height: 30px;
  position: absolute;
  right: 1%;
}
