.add-form {
  margin-top: 2rem;
}
.add-form label {
  max-width: 700px;
  margin: 20px auto;
}
.add-form label span {
  font-weight: bold;
}
.add-form input,
.add-form textarea {
  width: 100%;
  font-size: 1.1rem;
  margin: 10px 0;
  height: 2rem;
  outline: solid;
  outline-color: #999;
  outline-width: 1px;
  border-radius: 5px;
  border-bottom: none;
}
.add-form input:focus,
.add-form textarea:focus {
  outline: solid;
  outline-color: #333;
  outline-width: 2px;
  border-radius: 5px;
  border-bottom: none;
}
.button-holder {
  text-align: center;
}
.add-form .signup-button {
  max-width: 700px;
}
.add-form textarea {
  height: 6rem;
}
.add-form .ingredients-input {
  display: flex;
  align-items: center;
}
.add-form .ingredients-input button.auth-button {
  margin-left: 20px;
}
.ings-list {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  color: #555;
}
.ings-item {
  margin-left: 3px;
}
.ings-item::after {
  content: ",";
}
.ings-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
